body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

i {
  margin: 10px 0 20px 0;
}

i:hover {
  color: #26ff00;
}

.nav {
  /* Navigation has moved down */
  height: 80px;
  margin-top: -100px;
  background: linear-gradient(
    90deg,
    rgba(69, 69, 73, 0.738532913165266) 37%,
    rgba(37, 38, 41, 0.12228641456582634) 83%,
    rgba(44, 44, 51, 0) 99%
  );
}

.nav-item {
  margin-top: 20px;
  margin-left: 18px;
}

#logo {
  margin-top: -15px;
  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.nav-link {
  color: #59ce8f;
}

.nav-link:hover {
  color: white !important;
}

.sections {
  background-color: red;
  height: 760px;
}

.info-text {
  background: black;
  background-size: 400% 400%;
  position: absolute;
  left: 48%;
  height: 760px;
  width: 52%;
  text-align: center;
  color: whitesmoke;
  padding: 1% 5% 0 5%;
}

.highlights {
  color: #4cc283;
  font-weight: 700;
}

.about-divs {
  margin: 50px 0 50px 0;
  padding: 0 60px 0 60px;
}

.card:hover {
  margin-left: 20px;
}

@keyframes cardSlidein {
  0% {
    left: 0px;
    right: 0px;
  }
  25% {
    left: 200px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

#info {
  background-image: url("https://scontent-iad3-1.cdninstagram.com/v/t51.2885-15/44813980_2244684889110777_8224166867362677077_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=8ae9d6&_nc_ohc=ekdnjJBWcVQAX-9CYTR&_nc_ht=scontent-iad3-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AT-pMRpVzymKOv3n30FLuLkq69gVdAbJrfdHHUTKWpj-Dw&oe=63100C8B");
  background-position: left;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

#prices {
  background-color: yellow;
}

#trainer {
  background-color: #59ce8f;
  background-image: url("https://scontent-iad3-1.cdninstagram.com/v/t51.2885-15/83543827_214164059587588_4214479643907076313_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=8ae9d6&_nc_ohc=kPyYWn3MQwwAX8JJ9h_&_nc_ht=scontent-iad3-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AT8Qr4OA-Z_1-iwELpjCIPKQt12bpP0_d1s-01QR3nowtw&oe=6310793A");
  background-position: right;
  background-size: 60% 100%;
  background-repeat: no-repeat;
}

.trainer-text {
  position: absolute;
  right: 43%;
  height: 760px;
  width: 52%;
}

#testimonials {
  background-color: green;
}

#social {
  background-color: orange;
}

#contact-us {
  background-color: cyan;
}

/*Keyframes*/
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.position {
  margin-right: 50%;
  margin-bottom: 20%;
  font-size: 100px;
}
.position2 {
  margin-left: 50%;
  margin-bottom: 23%;
  font-size: 100px;
}

/* Maximum width */
@media (width: 1440px) {
  .position {
    margin-right: 50%;
    margin-bottom: 20%;
    font-size: 100px;
  }
  .position2 {
    margin-left: 50%;
    margin-bottom: 23%;
    font-size: 100px;
  }
}

@media (width: 1024px) {
  .position {
    margin-right: 50%;
    margin-bottom: 40%;
    font-size: 80px;
  }
  .position2 {
    margin-left: 50%;
    margin-bottom: 43%;
    font-size: 80px;
  }
}

@media (width: 768px) {
  .position {
    margin-right: 50%;
    margin-bottom: 65%;
    font-size: 70px;
  }
  .position2 {
    margin-left: 50%;
    margin-bottom: 73%;
    font-size: 60px;
  }
}
@media (max-width: 425px) and (min-width: 413px){
  .position {
    margin-right: 50%;
    margin-bottom: 153%;
    font-size: 40px;
  }

  .position2 {
    margin-left: 50%;
    margin-bottom: 153%;
    font-size: 30px;
  }
  .nav-item {
    margin-top: 10px;
    margin-left: 8px;
    font-size: 10px;
  }

  .nav {
    /* Navigation has moved down */
    height: 50px;
    margin-top: -100px;
    background: linear-gradient(
      90deg,
      rgba(69, 69, 73, 0.738532913165266) 37%,
      rgba(37, 38, 41, 0.12228641456582634) 83%,
      rgba(44, 44, 51, 0) 99%
    );
  }

  #logo {
    margin-top: -14px;
    animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;

    width: 55px;
    height: 55px;
  }
}

@media (min-width: 360px) and (max-width: 393px)  {
  .position {
    margin-right: 50%;
    margin-bottom: 173%;
    font-size: 40px;
  }
  .position2 {
    margin-left: 50%;
    margin-bottom: 173%;
    font-size: 30px;
  }
  .nav-item {
    margin-top: 10px;
    margin-left: 8px;
    font-size: 8px;
  }

  .nav {
    /* Navigation has moved down */
    height: 50px;
    margin-top: -100px;
    background: linear-gradient(
      90deg,
      rgba(69, 69, 73, 0.738532913165266) 37%,
      rgba(37, 38, 41, 0.12228641456582634) 83%,
      rgba(44, 44, 51, 0) 99%
    );
  }

  #logo {
    margin-top: -14px;
    animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;

    width: 55px;
    height: 55px;
  }
}

@media (width: 320px) {
  .position {
    display: none;
    margin-right: 50%;
    margin-bottom: 153%;
    font-size: 40px;
  }

  .position2 {
    display: none;
    margin-right: 50%;
    margin-bottom: 153%;
    font-size: 40px;
  }
  .nav-item {
    display: none;
    margin-top: 10px;
    margin-left: 8px;
    font-size: 5px;
  }

  .nav {
    /* Navigation has moved down */
    height: 50px;
    margin-top: -100px;
    background: linear-gradient(
      90deg,
      rgba(69, 69, 73, 0.738532913165266) 37%,
      rgba(37, 38, 41, 0.12228641456582634) 83%,
      rgba(44, 44, 51, 0) 99%
    );
  }

  #logo {
    margin-top: -14px;
    animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;

    width: 55px;
    height: 55px;
  }
}

.reveal {
  transition: 1s all ease-in-out;

  opacity: 0;
}

.reveal.active {
  animation: cardSlidein 3s;
  opacity: 1;
}
